body{
	background:url(../images/bg.jpg) no-repeat top left;
	font-family:Microsoft YaHei;
	overflow:hidden;
	width:100%;
	height:100%;
}
div.circleTransContainer{
	position:absolute;
	top:50%;
	left:50%;
	width:1400px;
	height: 550px;
	margin-top: -350px;
	margin-left:-700px;
	text-align:center;
	color:#397756;
	font-weight:bold;
	background:url(../images/circleBg.png) no-repeat center center;
}
#header {
	position: absolute;
	width: 100%;
	height: 600px;
	top: 0px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	background: transparent;
  }