body{
	background: url(../images/slideBg.png);
	margin: 0;
	padding: 0;
}

.dsib {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.fl{
	float: left;
}

#header{
	height: 133px;
}

#container{
	width: 100%;
	height: 100%;
	/*border:1px solid red;*/
	/*margin: auto;*/
}

#container .bigImgUnit{
	margin: auto;
	max-height: 500px;
margin-top: 150px;
}

#container .imgTxt{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 28px;
	color: #ae9381;
}

.slideBigImg{
	margin: 0 50px;
	margin-top: -80px;
}

.slideBottom{
	background: url(../images/smallSlideBg.png);
	height: 298px;

}
.slideSmallImg{
	margin:0 100px;
/*padding-top: 50px;*/
/*width: 1660px;*/
}


#container .slick-prev,#container .slick-next{
		background: url(../images/slideArraw.png) no-repeat;
}

#container .slick-prev:before,#container .slick-next:before{
	font-family: ""; 
	font-size: 0px; 
}

#container .slideBigImg .slick-prev,#container .slideBigImg .slick-next{
	width: 44px;
	height: 54px;
}

#container .slideBigImg .slick-next{
	background-position: -44px 0px;
}

#container .slideSmallImg .slick-prev,#container .slideSmallImg .slick-next{
	width: 53px;
	height: 93px;
}

#container .slideSmallImg .slick-prev{
	background-position:  0px -63px;
	left: -65px;
	top: 30px;
}


#container .slideSmallImg .slick-next{
	background-position:  -53px -63px;
	right: -65px;
	top: 30px;
}

.smallImgUnit{
	padding: 5px;
	background: white;
	max-height: 120px;
}

.slick-active .smallImgUnit{
	background: white;
}