body{
	background: url(../images/aireMapBg.jpg);
}

.dsib {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.fl{
	float: left;
}

#header{
	height: 260px;
}

#container{
	width: 100%;
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
}

.build1{
	position: absolute;
	top: 120px;
	left: 135px;
}

.build1-area{
	width: 671px;
	height: 421px;
	/*background: url(../images/build1area.png) no-repeat;*/
	/*cursor: pointer;*/
}

.build1-title{
	width: 121px;
	height: 283px;
	background: url(../images/build1Title.png) no-repeat;
	position: absolute;
	bottom: -72px;
	left: 20px;
}

.build2{
	position: absolute;
	top: 95px;
	left: 1110px;
}

.build2-area{
	width: 662px;
	height: 341px;
	/*background: url(../images/build2area.png) no-repeat;
	cursor: pointer;*/
}

.build2-title{
	width: 121px;
	height: 283px;
	background: url(../images/build2Title.png) no-repeat;
	position: absolute;
	bottom: 0px;
	right: 30px;
}

.build3{
	position: absolute;
	top: 480px;
	left: 640px;
}

.build3-area{
	width: 958px;
	height: 536px;
	/*background: url(../images/build3area.png) no-repeat;
	cursor: pointer;*/
}

.build3-title{
	width: 121px;
	height: 283px;
	background: url(../images/build3Title.png) no-repeat;
	position: absolute;
	bottom: 104px;
	left: 0px;
}

.build1point,.build2point,.build3point{
	width: 59px;
	height: 59px;
	position: absolute;

}

.build1point{
	top: 533px;
	left: 720px;
}

.build2point{
	top: 452px;
left: 895px;
}

.build3point{
	top: 579px;
left: 763px;
}