body{
	background:url(../images/bg.jpg) no-repeat top left;
	font-family:Microsoft YaHei;
	overflow:hidden;
	width:100%;
	height:100%;
}
div.rightTopLogo{
	width:140px;
	height:165px;
	position:absolute;
	right:110px;
	top:30px;
	background:url(../images/rightTopLogo.png) center center no-repeat;
}
div.parContainer{
	width:1680px;
	margin:0px auto;
}
div.hosTopHead{
	margin:50px auto;
	width:505px;
	height:105px;
	background:url(../images/hosHead.png) center center no-repeat;
}
div.treeArc{
	position:relative;
	top:-50px;
	margin:0px;
	height:730px;
	background:url(../images/lineLibBg.png) center top no-repeat;
}
div.depItemCommon{
	position:absolute;
	text-align:center;
}
div.depItemCommon a{
	color:#fff;
	text-decoration:none;
}
div.firDepList{
	padding:15px 15px 0px;
	width:30px;
	top:110px;
	height:130px;
	background:#6f574b;
	color:#fff;
	font-size:18px;
	font-family:"Microsoft YaHei";
	line-height:23px;
	font-weight:normal;
}
div.secDepList{
	padding:15px 12px 0px;
	width:16px;
	top:290px;
	height:130px;
	background:#94765c;
	color:#fff;
	font-size:16px;
	font-family:"Microsoft YaHei";
	line-height:18px;
	font-weight:normal;
}
div.thirdDepList{
	padding:10px 12px 0px;
	width:16px;
	top:530px;
	height:160px;
	background:#b27437;
	color:#fff;
	font-size:14px;
	font-family:"Microsoft YaHei";
	line-height:15px;
	font-weight:normal;
}